@model CarBookData.CarFeature
@{ 
    ViewData["title"] = "Araç Özellikleri Ekle";
}

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Araç Özellikleri</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive " style="width:100%">

            <div class="mt-2 container">
                <form method="post" enctype="multipart/form-data">

                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }

                    <div class="form-row">
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="CarId">Araç Adı</label>
                            <select class="custom-select" asp-for="CarId" asp-items="@ViewBag.Feauture">
                            </select>
                            <span asp-validation-for="CarId"></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="WeatherConditions">Hava Durumu</label>
                            <select class="custom-select" asp-for="WeatherConditions" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="ChildSeat">Çocuk Koltuğu</label>
                            <select class="custom-select" asp-for="ChildSeat" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="SuitCase">Valiz</label>
                            <select class="custom-select" asp-for="SuitCase" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Music">Müzik</label>
                            <select class="custom-select" asp-for="Music" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="SafetyBelt">Emniyet Kemeri</label>
                            <select class="custom-select" asp-for="SafetyBelt" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="SleepingBed">Uyku Yatağı</label>
                            <select class="custom-select" asp-for="SleepingBed" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Bluetooth">Bluetooth</label>
                            <select class="custom-select" asp-for="Bluetooth" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="OnboardComputer">Araç Bilgisayarı</label>
                            <select class="custom-select" asp-for="OnboardComputer" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="AudioInput">Ses Girişi</label>
                            <select class="custom-select" asp-for="AudioInput" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="LongTrip">Uzun Yolculuk</label>
                            <select class="custom-select" asp-for="LongTrip" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Toolkit">Araç Seti</label>
                            <select class="custom-select" asp-for="Toolkit" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="RemoteCentralLock">Uzaktan Merkezi Kilit</label>
                            <select class="custom-select" asp-for="RemoteCentralLock" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="ClimateControl">İklim Kontrolü</label>
                            <select class="custom-select" asp-for="ClimateControl" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Gps">Navigasyon</label>
                            <select class="custom-select" asp-for="Gps" asp-items="@Html.GetEnumSelectList<Feature>()">
                            </select>
                            <span></span>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary mb-2">
                        <i class="fa fa-save"></i> Kaydet
                    </button>
                    <a class="btn btn-link" asp-action="Index">İptal</a>
                </form>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>