@model IEnumerable<Car>
@{ ViewData["Title"] = "Araç Listele"; }


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Araç Listesi</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive " style="width:100%">
            <a asp-controller="Car" asp-action="Create" class="btn btn-info float-right  mt-2 mb-2 "> <span class=" fas fa-plus"></span> Rezervasyon Ekle</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Araç İsmi
                        </th>
                        <th >
                            Araç Yılı
                        </th>
                        <th>
                            Kasa Tipi
                        </th>
                        <th>
                            Yakıt Tipi
                        </th>
                        <th>
                            Vites Türü
                        </th>
                        <th>
                            Kilometre
                        </th>
                        <th>
                            Koltuk Sayısı
                        </th>
                        <th>
                            Valiz Sayısı
                        </th>
                        <th>
                            Ehliyet
                        </th>

                        <th >
                            Araç Plakası
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            İşlem
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var cars in Model)
                    {
                    <tr>
                        <td>
                            @cars.CarName
                        </td>
                        <td align="center">
                            @cars.Year
                        </td>
                        <td align="center">
                            @cars.Safe
                        </td>
                        <td align="center">
                           @cars.FuelType
                        </td>
                        <td align="center">
                           @cars.GearType                      
                        </td>
                        <td align="center">
                           @cars.Kilometer
                        </td>
                        <td align="center">
                           @cars.Armchair
                        </td>
                        <td align="center">
                           @cars.SuitCase
                        </td>
                        <td align="center">
                            @cars.Licence
                        </td>
                        <td align="center">
                           @cars.Plate
                        </td>

                        <td class="project-state">
                            @if (cars.Enabled == true)
                            {
                                <span class="badge badge-success">Aktif</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Pasif</span>
                            }
                        </td>
                        <td>

                            <partial name="RowButtonsPartial" model="@cars" />
                            
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>